<md-list-item class="md-3-line comment" ng-repeat="item in list" ng-class="{highlightAll:isAllDone(item),highlight:item.isDone()}" ng-hide="setting.hideDone && isAllDone(item)">
  <img csp-src="{{item.user.avatarUrl}}" ng-src="{{item.user.avatarUrl}}" class="md-avatar" alt="{{item.user.displayName}}"/>
  <div class="md-list-item-text" layout="column">
    <h3>{{ item.user.displayName }}</h3>
    <p>{{ item.message }}</p>

    <md-button ng-href="{{setting.cruUrl}}{{review}}#{{getCommentLink(item)}}" target="_blank">Link to Comment</md-button>
    <div comment review="review" value="item.replies"></div>
  </div>
</md-list-item>
<md-divider ></md-divider>
