<div ng-cloak>
  <md-content>
    <form name="search" ng-submit="searchReview()">
      <md-input-container class="md-block">
        <label>Service Url</label>
        <input required name="url" ng-model="setting.url">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Server Url</label>
        <input required name="url" ng-model="setting.cruUrl">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Review ID:</label>
        <input required name="reviewId" ng-model="setting.reviewId">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Done:</label>
        <input name="done" ng-model="setting.done">
      </md-input-container>
      <div layout="row" layout-wrap>
        <div flex="85">
          <md-button class="md-raised md-primary">Search</md-button>
          <md-checkbox ng-model="setting.hideDone" aria-label="Hide done comments">Hide done comments</md-checkbox>
        </div>
        <div flex="15">
          <md-button class="md-raised md-warn" ng-click="save()">Save</md-button>
        </div>
      </div>
    </form>

    <md-list ng-repeat="(key,review) in map">
      <md-subheader class="md-no-sticky">{{key}}</md-subheader>
      <div comment review="key" value="review.comments"></div>
    </md-list>
  </md-content>
</div>
